@import "tailwindcss";

@layer components {
  .auth-btn {
    @apply border-2 mx-auto mt-5 my-auto p-4 text-xl rounded-2xl transition-all duration-200 border-black px-5
        hover:bg-black hover:text-white hover:duration-200 hover:transition-all hover:border-black hover:scale-110;
  }
}
